/* basic settings */
body {
    background-color: white;
    color: #83BCFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    text-shadow: 0px 0px 3px 1px #ABABAB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;


    button {
        padding: 10px;
        margin: 20px;
        max-width: 200px;
        background-color: #E1EFF6;
        border-radius: 5px;
        border-style: none;
        transition: 0.3s ease-in-out;
    }

    button:hover {
        cursor: pointer;
        background-color: #97D2FB;
        transition: 0.3s ease-in-out;
        color: white;
    }

    input {
        padding: 15px;
        border-style: none;
        border-radius: 5px;
        transition: 0.2s ease-in-out;
        border: #80FFE8;
    }

    input:focus {
        transition: 0.2s ease-in-out;
        outline: 3px solid #80FFE8;
        border: #80FFE8;
    }
}

header {
    width: 100%;
    -webkit-box-shadow: 0px 2px 6px 1px #83BCFF;
    box-shadow: 0px 2px 6px 1px #83BCFF;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }
}

main {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .post-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        border: 1px solid #97D2FB;


        .form-container {
            margin-top: 10px;
            width: 400px;

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                input {
                    width: 80%;
                    padding: 15px 5px;
                    border: 1px solid #97D2FB
                }

                textarea {
                    width: 80%;
                    border-style: none;
                    margin-top: 10px;

                    resize: none;
                    padding: 15px 5px;
                    border-radius: 5px;
                    border: 1px solid #97D2FB
                }

                textarea:focus {
                    border-radius: 5px;
                    border-style: none;
                    transition: 0.2s ease-in-out;
                    outline: 3px solid #80FFE8;
                    border: #80FFE8;
                }
            }
        }
    }

    .fil {
        color: black;

        .post {
            border-radius: 5px;
            width: 400px;
            padding: 20px;

            h3 {
                padding: 10px 10px;
                border-top: 1px solid #E1EFF6;
                border-left: 1px solid #E1EFF6;
                border-right: 1px solid #E1EFF6;
                border-radius: 5px;
                margin: 0;
            }

            h4 {
                padding: 5px 5px;
                margin: 0;
                font-size: small;
                border: 1px solid #E1EFF6;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: #83BCFF;
            }

            p {
                padding: 10px 10px;
                border-left: 1px solid #E1EFF6;
                border-right: 1px solid #E1EFF6;
                margin: 0;
            }
        }

        .button-container {
            display: flex;
            align-items: center;
            justify-self: end;
            gap: 10px;

            button {
                margin: 0;
                padding: 2px 10px;
                gap: 20px;
                box-shadow: none;
            }

            .delete-container {
                button {
                    background-color: rgba(226, 171, 171, 0.583);
                }

                button:hover {
                    background-color: rgb(213, 110, 110);
                }
            }
        }


    }
}